.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}
.contain .cube{
    background-color:dimgrey;
    height: 100px;
    width: 100px;
    animation: translation 15s infinite ease-in;
}
@keyframes translation{
    0%{
        transform: translatex(100%);
    }
    10%{
        transform: translateY(-100%);
    }
    20%{
        transform: translatex(40%);
    }
    30%{
        transform: translateY(-60%);
    }
    40%{
        transform: translatex(20rem);
    }
    60%{
        transform: translatex(-30rem);
    }
    80%{
        transform: translatey(10rem);
    }
    100%{
        transform: translatey(-10rem);
    }
}
